# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.
         Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 

Strings: Strings are used in Python to record text information, such as name. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

Lists: Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable.

Tuples: In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. 

Dictionaries: A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [4]:
(5 * 10) + (1/4) + (80 - 30)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5  = 34

In [5]:
4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root:

64 ** 0.5

8.0

In [9]:
# Square:

8 ** 2

64

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [10]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [11]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [13]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [18]:
# Method 1:

list1 = [0] * 3

list1

[0, 0, 0]

In [19]:
# Method 2:

list1 = [0,0,0]

list1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [20]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [22]:
list4 = [5,3,4,6,1]

list4.sort()

list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [23]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [24]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [32]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [37]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Answer: No,because dictionaries are mappings not a sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable

How do you create a tuple?<br><br>

a = ('a','b','c')

## Sets

What is unique about a set?<br><br>

Collection of unique elements

Use a set to find the unique values of the list below:

In [38]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]


set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

# False

In [39]:
# Answer before running cell
2 > 3

False

# False

In [40]:
# Answer before running cell
3 <= 2

False

# False

In [41]:
# Answer before running cell
3 == 2.0

False

# True

In [42]:
# Answer before running cell
3.0 == 3

True

# False

In [43]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

# False

In [44]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!